body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    /*display: flex;*/
    justify-content: center; /* Centra horizontalmente el ul */
}

li {
    margin-bottom: 10px;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #333; /* Agrega borde */
    border-radius: 15px; /* Bordes redondeados */
    transition: color 0.3s, background-color 0.3s;
    text-align: left; /* Alinea el texto a la izquierda */
}

li a:hover {
    color: #fff;
    background-color: #333;
}

/* Ajustes adicionales para la lista de navegación */
ul:first-of-type {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul:first-of-type li {
    /*display: inline-block;*/
    margin-right: 20px;
}
